---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Classes from '../components/Classes.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Espai Yoga Carlet - Centro de Yoga en Carlet">
	<main>
		<Hero />
		<About />
		<Classes />
		<Contact />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		color: #2d3436;
		line-height: 1.6;
	}
</style>